<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
      <!-- Bootstrap core CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<style>
  body {
    background-color: #eeeeee;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
  }

  body {
    margin: 0;
  }

  input {
      border: 1px solid #209fda;
  }

  textarea {
      border: 1px solid #209fda;
  }
</style>


<body>
  <div class="form-container container center" style="text-align: center; width: 100vw; padding-top: 4em;  ">
      <h1 class="display-6 text-primary">Search for a Room in Thornton Hall!</h1>
      <form method="post">
          {% csrf_token %}
          <br>
          <label> What time would you like to use the room?</label>
          <br>
          <input type="text" name="time_searched" style="width:300px" placeholder="Ex: 1:00pm">
          <br><br>
          <button type="submit" class="btn btn-outline-primary mr-1">
              Search for room
          </button>
      </form>

    {% if user_clicked_search %}
      {% if rooms_found %}
        <div>Rooms found by searching "{{ time_searched }}":</div>
          <table class="td mx-auto">
              <tr>
                  {% for room in rooms_found %}
                    <tr>{{ room.room_number }} <br></tr>
                  {% endfor %}
              </tr>
          </table>
      {% else %}
        <h2 class="display-6 text-secondary">Sorry, no room found.</h2>
      {% endif %}
    {% endif %}

        <form method="post">
          {% csrf_token %}
          <br>
          <label>Make a reservation by choosing a room and a time</label>
          <br>
          <input type="text" name="reservation_room" style="width:300px" placeholder="Ex: D222">
          <br>
          <input type="text" name="reservation_time" style="width:300px" placeholder="Ex: 1:00pm">
          <br><br>
          <button type="submit" class="btn btn-outline-primary mr-1">
              Make reservation
          </button>
      </form>
        {% if reservation_room %}
        <p>Success! You created a reservation for {{reservation_room}} at {{reservation_time}}.</p>
        {% endif %}
  </div>  
</body>

